<div class="flex flex-col flex-auto min-w-0">
    <form [formGroup]="hotelForm">
        <!-- Header -->
        <div class="flex flex-col shadow bg-card">
            <!-- User info -->
            <div
                class="flex flex-col flex-0 lg:flex-row items-center w-full max-w-[1920px] mx-auto px-8 lg:h-32 bg-card"
            >
                <!-- Avatar -->
                <div *ngIf="previewImages; else defaultImage">
                    <img
                        [src]="previewImages"
                        alt="Hotel Image"
                        class="object-cover w-32 h-32"
                        loading="lazy"
                    />
                </div>
                <ng-template #defaultImage>
                    <img
                        [src]="'assets/images/blank_image.jpg'"
                        alt="Default Hotel Image"
                        class="object-cover w-32 h-32"
                        loading="lazy"
                    />
                </ng-template>

                <!-- Details -->
                <div
                    class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8"
                >
                    <div class="text-lg font-bold leading-none">
                        {{ hotelForm.get("HotelName").value || "Hotel Name" }}
                    </div>
                    <div class="text-secondary">
                        {{
                            (hotelForm.get("Address")?.value || "") +
                                (hotelForm.get("CityName")?.value ? ", " : "") +
                                hotelForm.get("CityName")?.value ||
                                "Hotel Address"
                        }}
                    </div>
                </div>

                <!-- Separator -->
                <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>

                <!-- Stats -->
                <div class="flex items-center mt-6 lg:mt-0 space-x-6">
                    <div class="flex flex-col items-center">
                        <span class="font-bold"
                            >{{
                                hotelForm.get("HotelRating").value || "4"
                            }}*</span
                        >
                        <span class="text-sm font-medium text-secondary"
                            >Hotel Rating</span
                        >
                    </div>
                </div>

                <!-- Menu -->
                <div
                    class="flex items-center mt-8 mb-4 lg:m-0 lg:ml-auto space-x-6"
                >
                    <a
                        (click)="close()"
                        [class.text-secondary]="currentTab !== 'description'"
                        class="cursor-pointer"
                        >Hotel List</a
                    >
                    <a
                        (click)="currentTab = 'description'"
                        [class.font-medium]="currentTab === 'description'"
                        [class.text-secondary]="currentTab !== 'description'"
                        class="cursor-pointer"
                        >Hotel Description</a
                    >

                    <a
                        (click)="currentTab = 'room'"
                        [class.font-medium]="currentTab === 'room'"
                        [class.text-secondary]="currentTab !== 'room'"
                        class="cursor-pointer"
                        >Room Description</a
                    >
                    <a
                        (click)="currentTab = 'pictures'"
                        [class.font-medium]="currentTab === 'pictures'"
                        [class.text-secondary]="currentTab !== 'pictures'"
                        class="cursor-pointer"
                        >Pictures</a
                    >
                    <a
                        (click)="currentTab = 'activeDeals'"
                        [class.font-medium]="currentTab === 'activeDeals'"
                        [class.text-secondary]="currentTab !== 'activeDeals'"
                        class="cursor-pointer"
                        >Active Deals</a
                    >
                    <a
                        (click)="currentTab = 'expiredDeals'"
                        [class.font-medium]="currentTab === 'expiredDeals'"
                        [class.text-secondary]="currentTab !== 'expiredDeals'"
                        class="cursor-pointer"
                        >Expired Deals</a
                    >
                </div>
            </div>
        </div>

        <!-- Main -->
        <div class="p-4">
            <div *ngIf="currentTab === 'description'">
                <!-- Content for Hotel Description -->
                <div
                    class="flex flex-auto flex-col lg:flex-row justify-center w-full max-w-[1920px] mx-auto p-6 sm:p-8"
                >
                    <!-- Column -->
                    <div class="flex flex-col items-start lg:mr-8">
                        <!-- About me -->
                        <fuse-card class="flex flex-col w-full p-8">
                            <div class="text-2xl font-semibold leading-tight">
                                Hotel Info
                            </div>
                            <mat-form-field class="w-full mt-3">
                                <mat-label>Hotel Name</mat-label>
                                <input
                                    matInput
                                    formControlName="HotelName"
                                    placeholder="Hotel Name"
                                />
                            </mat-form-field>

                            <mat-form-field class="w-full">
                                <mat-label>Rating</mat-label>
                                <mat-select
                                    formControlName="HotelRating"
                                    placeholder="Select Hotel Rating"
                                >
                                    <mat-option value="AllStar">0</mat-option>
                                    <mat-option value="OneStar">1</mat-option>
                                    <mat-option value="TwoStar">2</mat-option>
                                    <mat-option value="ThreeStar">3</mat-option>
                                    <mat-option value="FourStar">4</mat-option>
                                    <mat-option value="FiveStar">5</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-full mt-3">
                                <mat-label>Website</mat-label>
                                <input
                                    matInput
                                    type="url"
                                    formControlName="HotelWebsiteUrl"
                                    placeholder="Website Url..."
                                />
                            </mat-form-field>

                            <mat-form-field class="w-full mt-3">
                                <mat-label>Hotel ID / TBO codes</mat-label>
                                <input
                                    matInput
                                    formControlName="HotelCode"
                                    placeholder="Hotel ID..."
                                />
                            </mat-form-field>
                        </fuse-card>

                        <!-- Gallery -->
                        <fuse-card
                            class="flex flex-col lg:max-w-140 w-full my-8 px-8 pt-6 pb-4"
                        >
                            <div class="flex items-center justify-between mb-5">
                                <div
                                    class="text-2xl font-semibold leading-tight"
                                >
                                    Gallery
                                </div>
                                <div class="-mr-3">
                                    <button
                                        mat-flat-button
                                        color="primary"
                                        (click)="addImage()"
                                    >
                                        Add image
                                    </button>
                                </div>
                            </div>
                            <p>
                                Step inside and explore the beauty, comfort, and
                                luxury that await you at our hotel.
                            </p>
                            <div
                                formArrayName="Images"
                                class="flex flex-wrap justify-between"
                                *ngIf="
                                    images.controls.length > 0;
                                    else defaultImageTemplate
                                "
                            >
                                <div
                                    *ngFor="
                                        let image of images.controls;
                                        let i = index
                                    "
                                    class="relative"
                                >
                                    <div class="my-3">
                                        <img
                                            [src]="image.get('Url').value"
                                            alt="Hotel Image"
                                            class="object-cover w-[150px] h-[100px]"
                                            loading="lazy"
                                        />
                                        <div class="absolute top-0 right-0 p-2">
                                            <button
                                                mat-icon-button
                                                (click)="openEditHotelImage(i)"
                                                style="
                                                    background-color: black;
                                                    color: white;
                                                    border-radius: 50%;
                                                "
                                            >
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Default Image Template -->
                            <ng-template #defaultImageTemplate>
                                <div
                                    class="flex flex-wrap justify-between gap-5 my-5"
                                >
                                    <div
                                        *ngFor="
                                            let defaultImage of defaultImages;
                                            let i = index
                                        "
                                        class="relative"
                                    >
                                        <div>
                                            <img
                                                [src]="defaultImage.Url"
                                                alt="Default Hotel Image"
                                                class="object-cover w-[80px] h-[60px]"
                                                loading="lazy"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </fuse-card>
                    </div>

                    <!-- Column -->
                    <div class="flex flex-col items-start w-full">
                        <!-- Create Post -->
                        <fuse-card class="flex flex-col w-full p-6 sm:p-8 pb-6">
                            <!-- Description Data Section -->
                            <div formGroupName="Description">
                                <mat-accordion multi>
                              
                                  <!-- 📄 Details Accordion -->
                                  <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>📄 Description - Details</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-form-field class="w-full">
                                      <textarea
                                        matInput
                                        formControlName="details"
                                        placeholder="Enter description details"
                                      ></textarea>
                                    </mat-form-field>
                                  </mat-expansion-panel>
                              
                                  <!-- 📘 Data Accordion -->
                                  <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>📘 Description - Data</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div formGroupName="data">
                                      <div
                                        *ngFor="
                                          let key of getKeys(hotelForm.get('Description.data')?.value)
                                        "
                                      >
                                        <div
                                          [formGroupName]="key"
                                          class="mb-4 border p-3 rounded shadow-sm"
                                        >
                                          <mat-form-field class="w-full">
                                            <mat-label>
                                              {{
                                                hotelForm.get('Description.data.' + key + '.field')?.value
                                              }}
                                            </mat-label>
                                            <textarea
                                              matInput
                                              formControlName="description"
                                            ></textarea>
                                          </mat-form-field>
                                        </div>
                                      </div>
                                    </div>
                                  </mat-expansion-panel>
                              
                                  <!-- 📝 Remarks Accordion -->
                                  <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>📝 Description - Remarks</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div formGroupName="remarks">
                                      <ng-container
                                        *ngFor="
                                          let key of getKeys(hotelForm.get('Description.remarks')?.value)
                                        "
                                      >
                                        <!-- CheckInInstructions -->
                                        <div
                                          *ngIf="key === 'CheckInInstructions'"
                                          [formGroupName]="key"
                                          class="mb-4 border p-3 rounded shadow-sm"
                                        >
                                          <mat-label>
                                            {{
                                              hotelForm.get(
                                                'Description.remarks.CheckInInstructions.field'
                                              )?.value
                                            }}
                                          </mat-label>
                                          <div formArrayName="description">
                                            <div
                                              *ngFor="
                                                let item of checkInInstructionsArray.controls;
                                                let i = index
                                              "
                                            >
                                              <mat-form-field class="w-full">
                                                <mat-label>Instruction {{ i + 1 }}</mat-label>
                                                <input
                                                  matInput
                                                  [formControlName]="i"
                                                  placeholder="Enter instruction"
                                                />
                                              </mat-form-field>
                                              <button
                                                mat-button
                                                color="warn"
                                                (click)="removeInstruction(i)"
                                              >
                                                Remove
                                              </button>
                                            </div>
                                          </div>
                                          <button
                                            mat-button
                                            color="primary"
                                            (click)="addInstruction()"
                                          >
                                            Add Instruction
                                          </button>
                                        </div>
                              
                                        <!-- Other remarks -->
                                        <div
                                          *ngIf="key !== 'CheckInInstructions'"
                                          [formGroupName]="key"
                                          class="mb-4 border p-3 rounded shadow-sm"
                                        >
                                          <mat-form-field class="w-full">
                                            <mat-label>
                                              {{
                                                hotelForm.get('Description.remarks.' + key + '.field')
                                                  ?.value
                                              }}
                                            </mat-label>
                                            <textarea
                                              matInput
                                              formControlName="description"
                                              placeholder="Enter description"
                                            ></textarea>
                                          </mat-form-field>
                                        </div>
                                      </ng-container>
                                    </div>
                                  </mat-expansion-panel>
                              
                                </mat-accordion>
                              </div>
                              

                            <mat-form-field class="w-full mt-4">
                                <mat-label>About</mat-label>
                                <textarea
                                    matInput
                                    formControlName="About"
                                ></textarea>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Attraction</mat-label>
                                <textarea
                                    matInput
                                    formControlName="Attractions"
                                ></textarea>
                            </mat-form-field>

                            <!-- <div class="sm:flex gap-3">
                                <mat-form-field>
                                    <mat-label>City Name*</mat-label>
                                    <input
                                        matInput
                                        formControlName="CityName"
                                        placeholder="Paris"
                                    />
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>City Code*</mat-label>
                                    <input
                                        matInput
                                        formControlName="CityCode"
                                        placeholder="125623"
                                    />
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Country Code*</mat-label>
                                    <input
                                        matInput
                                        formControlName="CountryCode"
                                        placeholder="FR"
                                    />
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Country Name*</mat-label>
                                    <input
                                        matInput
                                        formControlName="CountryName"
                                        placeholder="France"
                                    />
                                </mat-form-field>
                            </div> -->

                            <div class="sm:flex gap-3">
                                <!-- City Name with Autocomplete -->
                                <mat-form-field>
                                    <mat-label>City Name</mat-label>
                                    <input
                                        matInput
                                        formControlName="CityName"
                                        [matAutocomplete]="auto"
                                        placeholder="Select City"
                                    />
                                    <mat-autocomplete
                                        #auto="matAutocomplete"
                                        (optionSelected)="
                                            onCitySelected($event)
                                        "
                                    >
                                        <mat-option
                                            *ngFor="
                                                let city of filteredCities
                                                    | async
                                            "
                                            [value]="city.CityName"
                                        >
                                            {{ city.CityName }},
                                            {{ city.CountryCode }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                                <!-- City Code -->
                                <mat-form-field>
                                    <mat-label>City Code</mat-label>
                                    <input
                                        matInput
                                        formControlName="CityCode"
                                        placeholder="12345"
                                        readonly
                                    />
                                </mat-form-field>

                                <!-- Country Code -->
                                <mat-form-field>
                                    <mat-label>Country Code</mat-label>
                                    <input
                                        matInput
                                        formControlName="CountryCode"
                                        placeholder="FR"
                                        readonly
                                    />
                                </mat-form-field>

                                <!-- Country Name -->
                                <mat-form-field>
                                    <mat-label>Country Name</mat-label>
                                    <input
                                        matInput
                                        formControlName="CountryName"
                                        placeholder="France"
                                        readonly
                                    />
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Pin Code</mat-label>
                                    <input
                                        matInput
                                        formControlName="PinCode"
                                        placeholder="12345"
                                    />
                                </mat-form-field>
                            </div>

                            <div>
                                <div class="sm:flex gap-3">
                                    <mat-form-field>
                                        <mat-label>Address*</mat-label>
                                        <input
                                            matInput
                                            formControlName="Address"
                                            placeholder="Address..."
                                        />
                                    </mat-form-field>
                                </div>
                                <div class="sm:flex gap-3">
                                    <mat-form-field>
                                        <mat-label>Check In*</mat-label>
                                        <input
                                            matInput
                                            formControlName="CheckInTime"
                                            placeholder="3:00 PM"
                                        />
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Check Out*</mat-label>
                                        <input
                                            matInput
                                            formControlName="CheckOutTime"
                                            placeholder="12:00 PM"
                                        />
                                    </mat-form-field>
                                </div>
                                <div class="sm:flex gap-3">
                                    <mat-form-field>
                                        <mat-label>Phone</mat-label>
                                        <input
                                            matInput
                                            formControlName="PhoneNumber"
                                            placeholder="0500000000"
                                        />
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Fax</mat-label>
                                        <input
                                            matInput
                                            formControlName="FaxNumber"
                                            placeholder="+0561498465"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>

                            <hr />
                            <div class="flex items-center justify-between">
                                <div
                                    class="text-2xl font-semibold leading-tight"
                                >
                                    Facilities
                                </div>
                                <div class="-mr-3">
                                    <button
                                        mat-icon-button
                                        [matMenuTriggerFor]="listCard09Menu3"
                                    >
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="
                                                'heroicons_solid:ellipsis-vertical'
                                            "
                                        ></mat-icon>
                                    </button>
                                    <mat-menu #listCard09Menu3="matMenu">
                                        <button
                                            mat-menu-item
                                            (click)="addFacility()"
                                        >
                                            Add Facilities
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                            <div
                                formArrayName="HotelFacilities"
                                class="flex flex-wrap gap-2"
                            >
                                <div
                                    *ngFor="
                                        let facility of facilities.controls;
                                        let i = index
                                    "
                                >
                                    <button
                                        mat-stroked-button
                                        (click)="openEditFacility(i)"
                                        class="facilityChip"
                                    >
                                        {{
                                            facility.get("FacilityTitle")
                                                .value || "Facility " + (i + 1)
                                        }}
                                    </button>
                                </div>
                            </div>
                        </fuse-card>
                    </div>
                </div>
                <div mat-dialog-actions class="mb-4 update-button">
                    <button
                        (click)="id ? update() : submitForm()"
                        color="primary"
                        mat-raised-button
                    >
                        {{ id ? "Update" : "Save Hotel" }}
                    </button>
                </div>
            </div>

            <div *ngIf="currentTab === 'room'">
                Content for Room Description
            </div>
            <div *ngIf="currentTab === 'pictures'">
                <!-- Content for Pictures -->
                <app-gallery [hotelForm]="hotelForm" [images]="images" />
            </div>
            <div *ngIf="currentTab === 'activeDeals'">
                <!-- Content for Active Deals -->
                <p>Active Deals Content goes here...</p>
            </div>
            <div *ngIf="currentTab === 'expiredDeals'">
                <!-- Content for Expired Deals -->
                <p>Expired Deals Content goes here...</p>
            </div>
        </div>
    </form>
</div>
