/* upload.component.css */
.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background: #f9f9f9;
  border-radius: 12px;
  text-align: center;
  width: 80%;
  margin: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}

p {
  font-size: 16px;
  color: #888;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

mat-icon {
  font-size: 30px;
  height: 50px !important;
  margin: 0 10px;
  color: #3f51b5;
  transform: rotate(30deg);
}

.file-drop-area {
  border: 2px dashed #ddd;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  cursor: pointer;
  position: relative;
}

.file-drop-area.drag-over {
  background-color: #f0f0f0;
}

.browse-text {
  color: #3f51b5;
  cursor: pointer;
}
button{
  margin-top: 20px;
  background: #3f51b5 !important;
}
.smooth-progress-bar .mat-progress-bar-fill::after {
  transition: width 0.3s ease-in-out;
}

