<div class="modal-content">
    <div class="order-details-container">
        <div class="image-container">
            <img src="../../../../../../assets/images/orderbg.jpg" alt="" />
            <div class="overlay"></div>
        </div>
        <div class="order-id">Order id: {{ data.orderId }}</div>
    </div>
    <div
        style="
            display: flex;
            justify-content: space-between;
            align-items: center;
        "
    >
        <div class="order-details">
            <h1>Main Customer Info:</h1>
            <p>
                <span>Customer Name:</span> {{ data.customers[0].first_name }}
                {{ data.customers[0].last_name }}
            </p>
            <p><span> email:</span> {{ data.mainCustomer.email }}</p>
            <p>
                <span>phone:</span> (+{{ data.mainCustomer.phone_code }})
                {{ data.mainCustomer.phone }}
            </p>
        </div>
        <div>
            <h1 style="text-align: right">
                {{ data.dealServices.packageName }}
            </h1>
            <p>{{ data.dealServices.start }} - {{ data.dealServices.end }}</p>
        </div>
    </div>
    <div
        style="
            display: flex;
            justify-content: space-between;
            align-items: start;
        "
    >
        <!-- flights info -->
        <div class="order-details">
            <h1>
                <span>Flights Info</span>
            </h1>
            <div
                style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 20px;
                "
            >
                <div>
                    <p>Outbound</p>
                    <hr style="margin: 5px 0;">
                    <p>
                        <span>Airline Name :</span>
                        {{ data.flightsData.flightsOut.airlineNameHeb }}
                    </p>
                    <p>
                        <span>Supplier :</span>
                        {{ data.flightsData.flightsOut.supplier }}
                    </p>
                    <p>
                        <span>Flight Number :</span>
                        {{ data.flightsData.flightsOut.flightNumber }}
                    </p>
                    <p>
                        <span>Dep City :</span>
                        {{
                            data.flightsData.flightsOut.firstItinerary
                                .depCityHibrew
                        }}
                        h
                    </p>
                    <p>
                        <span>Dep Time :</span>
                        {{ data.flightsData.flightsOut.firstItinerary.depTime }}
                    </p>
                    <p>
                        <span>Arr Time :</span>
                        {{ data.flightsData.flightsOut.lastItinerary.arrTime }}
                    </p>
                    <p>
                        <span>Dep Day :</span>
                        {{ data.flightsData.flightsOut.firstItinerary.depDay }}
                    </p>
                    <p>
                        <span>Duration :</span>
                        {{ data.flightsData.flightsOut.duration }} h
                    </p>
                </div>
                <div>
                    <p>Inbound</p>
                    <hr style="margin: 5px 0;">
                    <p>
                        <span>Airline Name :</span>
                        {{ data.flightsData.flightsIn.airlineNameHeb }}
                    </p>
                    <p>
                        <span>Supplier :</span>
                        {{ data.flightsData.flightsIn.supplier }}
                    </p>
                    <p>
                        <span>Flight Number :</span>
                        {{ data.flightsData.flightsIn.flightNumber }}
                    </p>
                    <p>
                        <span>Dep City :</span>
                        {{
                            data.flightsData.flightsIn.firstItinerary
                                .depCityHibrew
                        }}
                        h
                    </p>
                    <p>
                        <span>Dep Time :</span>
                        {{ data.flightsData.flightsIn.firstItinerary.depTime }}
                    </p>
                    <p>
                        <span>Arr Time :</span>
                        {{ data.flightsData.flightsIn.lastItinerary.arrTime }}
                    </p>
                    <p>
                        <span>Dep Day :</span>
                        {{ data.flightsData.flightsIn.firstItinerary.depDay }}
                    </p>
                    <p>
                        <span>Duration :</span>
                        {{ data.flightsData.flightsIn.duration }} h
                    </p>
                </div>
            </div>
        </div>
        <!-- deals info -->
        <div class="order-details">
            <h1>
                <span>Deal Info</span>
            </h1>
            <p><span>Hotel Name :</span> {{ data.dealServices.name }}</p>
            <p><span>Address :</span> {{ data.dealServices.address }}</p>

            <p>
                <span>Room Type :</span>
                <ng-container
                    *ngFor="
                        let numRoom of data.dealServices.roomData;
                        let last = last
                    "
                >
                    {{ numRoom.selectedRoom.roomType }} ({{
                        numRoom.numberOfRoom
                    }}-{{ numRoom.category }}){{ !last ? "," : "" }}
                </ng-container>
            </p>

            <p><span>Total Rooms :</span> {{ data.dealServices.rooms }}</p>
            <p>
                <span>Service length :</span> {{ data.dealServices.duration }}
            </p>
            <p><span>Meals :</span> {{ data.dealServices.meal }}</p>
        </div>
    </div>
    <hr />
    <p class="amount">Total Amount: {{ data.amount }}</p>
</div>
