<div class="order-details-container">
    <div class="image-container">
        <img src="../../../../../../assets/images/orderbg.jpg" alt="" />
        <div class="overlay"></div>
    </div>
    <div class="order-id">Order id: {{ data.orderId }}</div>
</div>
<div class="order-details">
    <h1>Customer Info:</h1>
    <p>
        <span>Customer Name:</span> {{ data.customers[0].first_name }}
        {{ data.customers[0].lest_name }}
    </p>
    <p><span> email:</span> {{ data.main_customer.email }}</p>
    <p>
        <span>phone:</span> (+{{ data.main_customer.phone_code }})
        {{ data.main_customer.phone }}
    </p>
    <h1>
        <span>{{ data.dealsInfo[0].packageName }}</span>
    </h1>
    <p><span>Hotel Name :</span> {{ data.dealsInfo[0].name }}</p>
    <p><span>Address :</span> {{ data.dealsInfo[0].address }}</p>
    <p><span>Room Type :</span> {{ data.dealsInfo[0].roomType }}</p>
    <p><span>Total Rooms :</span> {{ data.dealsInfo[0].rooms }}</p>
    <p><span>Service length :</span> {{ data.dealsInfo[0].duration }}</p>
    <p><span>Meals :</span> {{ data.dealsInfo[0].meal }}</p>
    <p><span>Date :</span> {{ data.dealsInfo[0].start }} - {{ data.dealsInfo[0].end }}</p>
</div>
<hr />
<p class="amount">Total Amount: {{ data.amount }}</p>
