    <h1 class="text-lg font-bold text-primary">Create Destination</h1>
    <div mat-dialog-content class="custom-dialog">
        <form [formGroup]="form">
            <div class="flex flex-col mt-5">
                <mat-form-field class="flex-auto">
                    <input
                        matInput
                        formControlName="name"
                        [placeholder]="'Destination Name'"
                    />
                    <mat-error
                        *ngIf="form.get('name').hasError('required')"
                    >
                        Name field is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="flex-auto">
                    <input
                        matInput
                        formControlName="index"
                        [placeholder]="'Index Id'"
                    />
                    <mat-error
                        *ngIf="form.get('index').hasError('required')"
                    >
                        Index field is required
                    </mat-error>
                </mat-form-field>
                <mat-checkbox formControlName="active">Is Checked</mat-checkbox>
            </div>
        </form>
    </div>
    <div mat-dialog-actions [align]="'end'">
        <button color="accent" mat-flat-button mat-dialog-close>Cancel</button>
        <button
            (click)="createDestinantion()"
            color="primary"
            mat-raised-button
            [disabled]="form.invalid"
        >
            Create
        </button>
    </div>
    