
<div class="w-full">
    <table
        #amaFlightOrderTable
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
    >
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="orderTime">
            <th mat-header-cell *matHeaderCellDef>Order Time</th>
            <td mat-cell *matCellDef="let element">{{element.orderTime | date:'dd/MM/yyyy, HH:mm:ss':'Asia/Jerusalem' }}</td>
        </ng-container>
        <ng-container matColumnDef="outbound">
            <th mat-header-cell *matHeaderCellDef>Outbound</th>
            <td mat-cell *matCellDef="let element">{{ element.outboundFlight.departure}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="inbound">
            <th mat-header-cell *matHeaderCellDef>Inbound</th>
            <td mat-cell *matCellDef="let element">{{ element?.inboundFlight ?  element?.inboundFlight?.departure : element.outboundFlight.destination }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="pnr">
            <th mat-header-cell *matHeaderCellDef>PNR</th>
            <td mat-cell *matCellDef="let element">{{ getPnr(element) | json }}</td>
            <!-- <td mat-cell *matCellDef="let element">{{ "pnr" }}</td> -->
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="flightMode">
            <th mat-header-cell *matHeaderCellDef>Flight Mode</th>
            <td mat-cell *matCellDef="let element">{{ element.outboundFlight.flightMode ? element.outboundFlight.flightMode : 'N/A' }}</td>
        </ng-container>

        <ng-container matColumnDef="issuance">
            <th mat-header-cell *matHeaderCellDef>Issuance</th>
            <td mat-cell *matCellDef="let element">{{ element.issuance !== undefined ? element.issuance : 'N/A'}}</td>
        </ng-container>

        <ng-container matColumnDef="isDelete">
            <th mat-header-cell *matHeaderCellDef>Deleted</th>
            <td mat-cell *matCellDef="let element">{{ (element.hasOwnProperty('isDelete')) ? element.isDelete : 'N/A' }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Out Date</th>
            <td mat-cell *matCellDef="let element">{{ element.outboundFlight.date }}</td>
        </ng-container>

        <ng-container matColumnDef="returnDate">
            <th mat-header-cell *matHeaderCellDef>In Date</th>
            <td mat-cell *matCellDef="let element">{{element.inboundFlight ?  element.inboundFlight.date : 'N/A'}}</td>
        </ng-container>

        <ng-container matColumnDef="provider">
            <th mat-header-cell *matHeaderCellDef>Provider</th>
            <td mat-cell *matCellDef="let element">{{ element.dataProvider }}</td>
        </ng-container>
        <ng-container matColumnDef="flightType">
            <th mat-header-cell *matHeaderCellDef>Flight Type</th>
            <td mat-cell *matCellDef="let element">{{ element.flightType }}</td>
        </ng-container>

        <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef>View</th>
            <td mat-cell *matCellDef="let element">
                <div class="flex flex-row justify-between w-full">

                    <mat-icon style="cursor: pointer;" *ngIf="element.issuance != undefined && element.issuance"
                        (click)="showIssuance(element)"
                        svgIcon='heroicons_solid:eye'
                    ></mat-icon>
                    <mat-icon style="cursor: pointer;"
                        (click)="edit(element)"
                        svgIcon="heroicons_outline:pencil-square"
                    ></mat-icon>
                    <mat-icon style="cursor: pointer;"
                        (click)="delete(element)"
                        svgIcon="heroicons_outline:trash"
                    ></mat-icon>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
