<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <div cdkDropListGroup>
            <div class="example-container">
                <h3>Active Destinations (deals)</h3>
                <div
                    cdkDropList
                    [cdkDropListData]="active"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)"
                >
                    <div class="example-box" *ngFor="let item of active" cdkDrag>
                        {{ item }}
                    </div>
                </div>
            </div>

            <div class="example-container">
                <h3>Inactive Destinations (deals)</h3>

                <div
                    cdkDropList
                    [cdkDropListData]="inactive"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)"
                >
                    <div class="example-box" *ngFor="let item of inactive" cdkDrag>
                        {{ item }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>