<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container
        class="flex-auto h-full bg-card dark:bg-transparent"
        (backdropClick)="onBackdropClicked()"
    >
        <!-- Drawer -->
        <mat-drawer
            class="w-full md:w-160 dark:bg-gray-900"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer
        >
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">
            <!-- Main Content -->
            <div class="flex-auto">
                <!-- Header -->
                <header class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b">
                    <!-- Title -->
                    <div>
                        <h1 class="text-4xl font-extrabold tracking-tight leading-none">
                            Hotel
                        </h1>
                        <div class="ml-0.5 font-medium text-secondary">
                            <ng-container *ngIf="filteredHotelCount > 0">
                                {{ filteredHotelCount }}
                            </ng-container>
                            {{ filteredHotelCount | i18nPlural: { "=0": "No Hotel", "=1": "Hotel", other: "Hotels" } }}
                        </div>
                    </div>

                    <!-- Search -->
                    <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full min-w-50" subscriptSizing="dynamic">
                            <mat-icon matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'" class="icon-size-5"></mat-icon>
                            <input matInput [formControl]="searchInputControl" autocomplete="off" placeholder="Search destinations"/>
                        </mat-form-field>
                    </div>
                </header>

                <!-- Destinations List -->
                <div class="relative">
                    <ng-container *ngIf="filteredHotelData$ | async as hotels">
                        <ng-container *ngIf="hotels.length; else noHotels">
                            <div *ngFor="let hotel of hotels; let i = index; trackBy: trackByFn">
                                <a
                                    class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer border-b"
                                    [ngClass]="{
                                        'hover:bg-gray-100 dark:hover:bg-hover': !selectedHotel || selectedHotel.id !== hotel.HotelID,
                                        'bg-primary-50 dark:bg-hover': selectedHotel && selectedHotel.id === hotel.HotelID
                                    }"
                                    [routerLink]="['./', hotel.HotelID]"
                                >
                                    <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                                        <ng-container *ngIf="hotel.thumbnail; else placeholder">
                                            <img class="object-cover w-full h-full" [src]="hotel.thumbnail" alt="Hotel avatar"/>
                                        </ng-container>
                                        <ng-template #placeholder>
                                            <div class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                                {{ hotel.HotelName.charAt(0) }}
                                            </div>
                                        </ng-template>
                                    </div>
                                    <div class="min-w-0 ml-4">
                                        <div class="font-medium leading-5 truncate">{{ hotel.HotelName }}</div>
                                    </div>
                                </a>
                            </div>

                            <!-- Pagination Controls -->
                            <mat-paginator
                                [pageSize]="10"
                                [pageSizeOptions]="[5, 10, 20]"
                                showFirstLastButtons
                                (page)="onPageChange($event)"
                            ></mat-paginator>
                        </ng-container>
                    </ng-container>

                    <ng-template #noHotels>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                            There are no hotels!
                        </div>
                    </ng-template>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
