<div class="bg-white w-full p-8 pb-4">
    <div (click)="close()" class="py-5 back-button">
        <mat-icon class="back-icon">arrow_back</mat-icon>
        <p class="back-text">Back to Hotel List</p>
    </div>

    <form [formGroup]="form">
        <div id="hotel-info" class="lg:flex gap-5 w-full">
            <div
                class="hotel-image relative flex flex-col items-center justify-center"
            >
                <ng-container *ngIf="fileString ? fileString : thumbnail">
                    <img
                        [src]="fileString ? fileString : thumbnail"
                        alt="Hotel Thumbnail"
                        loading="lazy"
                        class="object-cover lg:w-[600px] h-[150px] lg:h-full"
                    />
                </ng-container>
                <div class="image-overlay">
                    <mat-icon class="text-white">cloud_upload</mat-icon>
                    <span class="ml-2 text-white">Upload</span>
                </div>
                <input
                    type="file"
                    [multiple]="false"
                    (change)="uploadThumbnail($event.target.files)"
                    [accept]="'image/jpeg, image/png'"
                    #avatarFileInput
                    class="absolute inset-0 opacity-0 cursor-pointer"
                />
            </div>
            <div class="flex flex-col w-full mt-3 lg:mt-0">
                <mat-form-field class="flex-auto">
                    <mat-label>Hotel Name</mat-label>
                    <input matInput formControlName="HotelName" />
                    <mat-icon
                        class="icon-size-5"
                        matSuffix
                        [svgIcon]="'heroicons_solid:building-office-2'"
                    ></mat-icon>
                </mat-form-field>
                <div formGroupName="HotelLocation">
                    <mat-form-field class="flex-auto" class="w-full">
                        <mat-label>Description</mat-label>
                        <textarea
                            matInput
                            formControlName="Description"
                            rows="5"
                        ></textarea>
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            [svgIcon]="
                                'heroicons_solid:clipboard-document-list'
                            "
                        ></mat-icon>
                    </mat-form-field>
                </div>
                <mat-form-field class="flex-auto mt-1 w-full">
                    <mat-label>Hotel Rating</mat-label>
                    <mat-select
                        formControlName="HotelRate"
                        placeholder="Select hotel rating"
                    >
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                        <mat-option value="4">4</mat-option>
                        <mat-option value="5">5</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="flex gap-5 flex-wrap">
                    <mat-form-field class="">
                        <mat-label>City Hebrew</mat-label>
                        <input matInput formControlName="cityHeb" />
                    </mat-form-field>
                    <div formGroupName="HotelLocation" class="flex flex-wrap gap-5">
                        <mat-form-field class="flex-auto">
                            <mat-label>City Code</mat-label>
                            <input matInput formControlName="CityCode" />
                        </mat-form-field>
                        <mat-form-field class="flex-auto">
                            <mat-label>City Name</mat-label>
                            <input matInput formControlName="CityName" />
                        </mat-form-field>
                        <mat-form-field class="flex-auto">
                            <mat-label>Country Name</mat-label>
                            <input matInput formControlName="CountryName" />
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full">
            <div formGroupName="HotelLocation">
                <div class="my-5">
                    <h1 class="text-lg font-bold">Address :</h1>
                </div>
                <div formGroupName="Address" class="flex flex-wrap gap-5">
                    <mat-form-field class="flex-auto">
                        <mat-label>Zipcode</mat-label>
                        <input matInput formControlName="zipcode" />
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>Phone</mat-label>
                        <input matInput formControlName="phone" />
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>Street</mat-label>
                        <input matInput formControlName="street" />
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>House Number</mat-label>
                        <input matInput formControlName="house_number" />
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>Fax</mat-label>
                        <input matInput formControlName="fax" />
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" />
                    </mat-form-field>
                </div>
                <div class="flex gap-5">
                    <mat-form-field class="flex-auto">
                        <mat-label>Latitude</mat-label>
                        <input matInput formControlName="latitude" />
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>Longitude</mat-label>
                        <input matInput formControlName="longitude" />
                    </mat-form-field>
                </div>
            </div>

            <div class="my-5">
                <h1 class="text-lg font-bold">Facilities:</h1>
            </div>
            <div formArrayName="HotelFacilities" class="flex flex-wrap gap-2">
                <div
                    *ngFor="let facility of facilities.controls; let i = index"
                >
                    <button
                        mat-button
                        (click)="openEditFacility(i)"
                        class="facilityChip"
                    >
                        {{
                            facility.get("FacilityTitle").value ||
                                "Facility " + (i + 1)
                        }}
                    </button>
                </div>
                <div class="w-full py-5">
                    <button
                        type="button"
                        mat-button
                        class="navy-blue-button w-full"
                        (click)="addFacility()"
                    >
                        Add Facility
                    </button>
                </div>
            </div>

            <div mat-dialog-actions [align]="'end'" class="mt-4">
                <button
                    (click)="update()"
                    color="primary"
                    mat-raised-button
                    [disabled]="form.invalid"
                >
                    Update
                </button>
            </div>
        </div>
    </form>
</div>
