button[mat-stroked-button] {
    background-color: white;
    border: 1px solid #3f51b5;
    color: black;
}

button[mat-stroked-button]:hover {
    background-color: #f0f0f0;
}

button[mat-stroked-button] .mat-icon {
    color: black;
}

#hotel-info {
    & .hotel-image {
        position: relative;
        & img {
            display: block;
        }
        & .image-overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            cursor: pointer;
            z-index: 10; 
            transition: background 0.3s ease;
        }
    }
}

/* hotel-details.component.scss */

.back-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #192749;
}

.back-icon {
    font-size: 24px; /* Adjust icon size as needed */
    margin-right: 8px; /* Space between icon and text */
}

.back-text {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.facilityChip{
    border: 1px solid #060769 !important;
}

.navy-blue-button {
    border: 1px solid #060769 !important;
    
    /* Optionally add hover effects */
    &:hover {
        background-color: #060769; /* Slightly darker navy on hover */
        color: #f0f0f0;
    }

    /* Ensure button retains Material Design styles */
    mat-button {
        font-weight: 500;
    }
}


