<div class="mat-elevation-z8 w-full">
    <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Order Id</th>
            <td mat-cell *matCellDef="let element" style="font-weight: bold;">{{ element.orderId }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
                {{ element.main_customer.first_name_heb }}
            </td>
        </ng-container>

        <!-- Package Name Column -->
        <ng-container matColumnDef="packageName">
            <th mat-header-cell *matHeaderCellDef>Package Name</th>
            <td mat-cell *matCellDef="let element">
                {{ element.dealServices?.packageName }}
            </td>
        </ng-container>


        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
        </ng-container>

        <!-- Payment option type Column -->
        <ng-container matColumnDef="orderFrom">
            <th mat-header-cell *matHeaderCellDef>Order From</th>
            <td mat-cell *matCellDef="let element">{{ element.payOptionType }}</td>
        </ng-container>

        <!-- action -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="primary" (click)="openModal(element)">
                    <mat-icon>View</mat-icon>
                </button>
            </td>
        </ng-container>
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
        [pageSizeOptions]="[10, 20, 30]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
    ></mat-paginator>
</div>
