<div mat-dialog-content>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
            <p class="text-md font-bold">Payload</p>
            <textarea
                cols="100"
                rows="100"
                class="resize-none border rounded-md p-2 w-full h-32"
                placeholder="Textarea 2"
                [value]="payloadValue"
            ></textarea>
        </div>

        <div>
            <p class="text-md font-bold">Error</p>
            <textarea
                cols="100"
                rows="100"
                class="resize-none border rounded-md p-2 w-full h-32"
                placeholder="Textarea 1"
                [value]="apiErrorValue"
            ></textarea>
        </div>
    </div>
</div>
