.Title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Plan{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.Amount{
    font-size: 1.5rem;
    font-weight: bold;
}