<div mat-dialog-content>
    <h1 class="font-bold">Update Facility</h1>
    <hr class="my-2" />
    <h1 class="mb-5 text-lg">{{ facility.tag }}</h1>

    <form [formGroup]="form">
        <!-- City Hebrew Name -->
        <mat-form-field class="w-full">
            <mat-label>Facility Name</mat-label>
            <input matInput formControlName="tag" />
        </mat-form-field>

        <!-- Country Hebrew Name -->
        <mat-form-field class="w-full">
            <mat-label>Icon Name</mat-label>
            <input matInput formControlName="iconName" />
        </mat-form-field>
    </form>
</div>

<!-- Dialog Actions -->
<div mat-dialog-actions class="flex justify-end gap-2">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="onSave()">Save</button>
</div>
