<div [formGroup]="roomsDescriptionForm">
    <div
        class="flex flex-auto flex-col lg:flex-row justify-center w-full max-w-[1920px] mx-auto p-6 sm:p-8"
    >
        <!-- Column -->
        <div class="flex flex-col items-start lg:mr-8">
            <!-- About me -->
            <fuse-card class="flex flex-col w-full p-8">
                <div class="text-2xl font-semibold leading-tight">
                    Rooms Info
                </div>
                <!-- Package Type -->
                <mat-form-field appearance="fill" class="mt-3">
                    <mat-label>Package Type</mat-label>
                    <input matInput formControlName="package_type" required />
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Selected Category</mat-label>
                    <input
                        matInput
                        formControlName="selected_category"
                        required
                    />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Taxes</mat-label>
                    <input matInput formControlName="taxes" required />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Restrictions</mat-label>
                    <input matInput formControlName="restrictions" />
                </mat-form-field>
            </fuse-card>

            <!-- Gallery -->
            <fuse-card
                class="flex flex-col lg:max-w-140 w-full my-8 px-8 pt-6 pb-4"
            >
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-semibold leading-tight">
                        Gallery
                    </div>
                    <div class="-mr-3">
                        <button
                            mat-icon-button
                            [matMenuTriggerFor]="listCard09Menu"
                        >
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:ellipsis-vertical'"
                            ></mat-icon>
                        </button>
                        <mat-menu #listCard09Menu="matMenu">
                            <button mat-menu-item>Add image</button>
                        </mat-menu>
                    </div>
                </div>
                <p>
                    Step inside and explore the beauty, comfort, and luxury that
                    await you at our hotel.
                </p>
            </fuse-card>
        </div>

        <!-- Column -->
        <div class="flex flex-col items-start w-full">
            <!-- Create Post -->
            <fuse-card class="flex flex-col w-full p-6 sm:p-8 pb-6">
                <!-- Remarks -->
                <mat-form-field appearance="fill">
                    <mat-label>Remarks</mat-label>
                    <input matInput formControlName="remarks" required />
                </mat-form-field>
                <!-- Supplements -->
                <mat-form-field appearance="fill">
                    <mat-label>Supplements</mat-label>
                    <input matInput formControlName="supplements" />
                </mat-form-field>
                <div class="flex gap-3">
                    <!-- Currency Selection -->
                    <mat-form-field>
                        <mat-label>Currency</mat-label>
                        <mat-select
                            formControlName="currency"
                            placeholder="Select Currency"
                        >
                            <mat-option value="USD">USD</mat-option>
                            <mat-option value="EUR">EUR</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- Infant Price Input -->
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Infant Price</mat-label>
                        <input
                            matInput
                            formControlName="price"
                            type="text"
                            placeholder="Enter Price"
                        />
                    </mat-form-field>
                </div>

                <hr />
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-semibold leading-tight">
                        Additional Payments
                    </div>
                    <div class="-mr-3">
                        <button
                            mat-icon-button
                            [matMenuTriggerFor]="listCard09Menu2"
                        >
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:ellipsis-vertical'"
                            ></mat-icon>
                        </button>
                        <mat-menu #listCard09Menu2="matMenu">
                            <button
                                mat-menu-item
                                (click)="addAdditionalPayment()"
                            >
                                Add Additional Payment
                            </button>
                        </mat-menu>
                    </div>
                </div>

                <div formArrayName="additionalPayments">
                    <mat-accordion>
                        <div
                            *ngFor="
                                let additionalPayment of roomsDescriptionForm.get(
                                    'additionalPayments'
                                )?.controls;
                                let i = index
                            "
                            [formGroupName]="i"
                        >
                            <mat-expansion-panel class="mb-3">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{
                                            additionalPayment.get("value")
                                                .value ||
                                                "Additional Payment " + (i + 1)
                                        }}
                                    </mat-panel-title>

                                    <mat-action-row>
                                        <button
                                            mat-button
                                            color="warn"
                                            (click)="removeAdditionalPayment(i)"
                                        >
                                            Remove Additional Payment
                                        </button>
                                    </mat-action-row>
                                </mat-expansion-panel-header>

                                <div
                                    class="flex flex-wrap gap-5 md:flex-row flex-col"
                                >
                                    <!-- Restriction Field -->
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Restriction</mat-label>
                                        <input
                                            matInput
                                            formControlName="restriction"
                                        />
                                    </mat-form-field>

                                    <!-- Value Field -->
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Value</mat-label>
                                        <input
                                            matInput
                                            formControlName="value"
                                        />
                                    </mat-form-field>

                                    <!-- Rule Field -->
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Rule</mat-label>
                                        <input
                                            matInput
                                            formControlName="rule"
                                        />
                                    </mat-form-field>

                                    <!-- Sum Field -->
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Sum</mat-label>
                                        <input
                                            matInput
                                            formControlName="summ"
                                        />
                                    </mat-form-field>
                                </div>
                            </mat-expansion-panel>
                        </div>
                    </mat-accordion>
                </div>
            </fuse-card>
        </div>
    </div>
</div>
