/* deal-mining-status.component.scss */

.apexcharts-subtitle {
    float: right;
  }
  .radial-chart{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
  }
  .single-chart{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1{
    font-size: large;
    font-weight: 500;
  }
  