<div class="text-2xl font-semibold leading-tight">Hotel Images</div>

<div
    formArrayName="HotelImages"
    class="flex flex-wrap gap-5 mt-5"
    *ngIf="images.controls.length > 0; else defaultImageTemplate"
>
    <div *ngFor="let image of images.controls; let i = index" class="relative">
        <div>
            <img
                [src]="image.get('Url').value"
                alt="Hotel Image"
                class="object-cover w-[150px] h-[100px]"
                loading="lazy"
            />
        </div>
    </div>
</div>

<ng-template #defaultImageTemplate>
    <div class="flex flex-wrap gap-5 mt-5">
        <div
            *ngFor="let defaultImage of defaultImages; let i = index"
            class="relative"
        >
            <div>
                <img
                    [src]="defaultImage.Url"
                    alt="Default Hotel Image"
                    class="object-cover w-[150px] h-[100px]"
                    loading="lazy"
                />
            </div>
        </div>
    </div>
</ng-template>




<div class="text-2xl font-semibold leading-tight mt-5">Rooms Images</div>

<div
    formArrayName="HotelImages"
    class="flex flex-wrap gap-5 mt-5"
    *ngIf="images.controls.length > 0; else defaultImageTemplate"
>
    <div *ngFor="let image of images.controls; let i = index" class="relative">
        <div>
            <img
                [src]="image.get('Url').value"
                alt="Hotel Image"
                class="object-cover w-[150px] h-[100px]"
                loading="lazy"
            />
        </div>
    </div>
</div>

<ng-template #defaultImageTemplate>
    <div class="flex flex-wrap gap-5 mt-5">
        <div
            *ngFor="let defaultImage of defaultImages; let i = index"
            class="relative"
        >
            <div>
                <img
                    [src]="defaultImage.Url"
                    alt="Default Hotel Image"
                    class="object-cover w-[150px] h-[100px]"
                    loading="lazy"
                />
            </div>
        </div>
    </div>
</ng-template>
