<div
    class="flex flex-col w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <mat-drawer-container class="flex-auto sm:h-full">
        <!-- Drawer -->
        <mat-drawer
            class="sm:w-96 dark:bg-gray-900"
            [autoFocus]="false"
            [mode]="drawerMode"
            [opened]="drawerOpened"
            #drawer
        >
            <!-- Header -->
            <div class="flex items-center justify-between m-8 mr-6 sm:my-10">
                <!-- Title -->
                <div
                    class="text-4xl font-extrabold tracking-tight leading-none"
                >
                    Site Settings
                </div>
                <!-- Close button -->
                <div class="lg:hidden">
                    <button mat-icon-button (click)="drawer.close()">
                        <mat-icon
                            [svgIcon]="'heroicons_outline:x-mark'"
                        ></mat-icon>
                    </button>
                </div>
            </div>
            <!-- Panel links -->
            <div class="flex flex-col divide-y border-t border-b">
                <ng-container *ngFor="let panel of panels; trackBy: trackByFn">
                    <div
                        class="flex px-8 py-5 cursor-pointer"
                        [ngClass]="{
                            'hover:bg-gray-100 dark:hover:bg-hover':
                                !selectedPanel || selectedPanel !== panel.id,
                            'bg-primary-50 dark:bg-hover':
                                selectedPanel && selectedPanel === panel.id
                        }"
                        (click)="goToPanel(panel.id)"
                    >
                        <mat-icon
                            [ngClass]="{
                                'text-hint':
                                    !selectedPanel ||
                                    selectedPanel !== panel.id,
                                'text-primary dark:text-primary-500':
                                    selectedPanel && selectedPanel === panel.id
                            }"
                            [svgIcon]="panel.icon"
                        ></mat-icon>
                        <div class="ml-3">
                            <div
                                class="font-medium leading-6"
                                [ngClass]="{
                                    'text-primary dark:text-primary-500':
                                        selectedPanel &&
                                        selectedPanel === panel.id
                                }"
                            >
                                {{ panel.title }}
                            </div>
                            <div class="mt-0.5 text-secondary">
                                {{ panel.description }}
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col">
            <!-- Main -->
            <div class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-12">
                <!-- Panel header -->
                <div class="flex items-center">
                    <!-- Drawer toggle -->
                    <button
                        class="lg:hidden -ml-2"
                        mat-icon-button
                        (click)="drawer.toggle()"
                    >
                        <mat-icon
                            [svgIcon]="'heroicons_outline:bars-3'"
                        ></mat-icon>
                    </button>

                    <!-- Panel title -->
                    <div
                        class="ml-2 lg:ml-0 text-3xl font-bold tracking-tight leading-none"
                    >
                        {{ getPanelInfo(selectedPanel).title }}
                    </div>
                </div>

                <!-- Load settings panel -->
                <div class="mt-8">
                    <ng-container [ngSwitch]="selectedPanel">
                        <!-- Flights -->
                        <ng-container *ngSwitchCase="'commission'">
                            <div class="p-2 w-full flex flex-row justify-end">
                                <button
                                    (click)="add()"
                                    color="primary"
                                    mat-raised-button
                                >
                                    Add
                                </button>
                            </div>

                            <div
                                class="inset-0 flex flex-col min-w-0 overflow-hidden"
                            >
                                <table
                                    mat-table
                                    #commissionTable
                                    [dataSource]="dataSource"
                                    class="mat-elevation-z8"
                                >
                                    <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->

                                    <!-- Position Column -->
                                    <!-- <ng-container matColumnDef="position">
                                  <th mat-header-cell *matHeaderCellDef> No. </th>
                                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                </ng-container> -->

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="airline">
                                        <th mat-header-cell *matHeaderCellDef>
                                            Airline
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.airline }}
                                        </td>
                                    </ng-container>

                                    <ng-container
                                        matColumnDef="outboundCommission"
                                    >
                                        <th mat-header-cell *matHeaderCellDef>
                                            Outbound Fee
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.outboundCommission }}
                                        </td>
                                    </ng-container>

                                    <ng-container
                                        matColumnDef="outCommission"
                                    >
                                        <th mat-header-cell *matHeaderCellDef>
                                            Outbound Commission
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.outCommission }}
                                        </td>
                                    </ng-container>

                                    <ng-container
                                        matColumnDef="outboundAirport"
                                    >
                                        <th mat-header-cell *matHeaderCellDef>
                                            Outbound Airport
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.outboundAirport }}
                                        </td>
                                    </ng-container>

                                    <ng-container
                                        matColumnDef="inboundCommission"
                                    >
                                        <th mat-header-cell *matHeaderCellDef>
                                            Inbound Fee
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.inboundCommission }}
                                            <!-- {{ element.apiError && 'name' in   ?   element.apiError?.message  : 'None'}} -->
                                        </td>
                                    </ng-container>

                                    <ng-container
                                        matColumnDef="inCommission"
                                    >
                                        <th mat-header-cell *matHeaderCellDef>
                                            Inbound Commission
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.inCommission}}
                                            <!-- {{ element.apiError && 'name' in   ?   element.apiError?.message  : 'None'}} -->
                                        </td>
                                    </ng-container>

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="inboundAirport">
                                        <th mat-header-cell *matHeaderCellDef>
                                            Inbound Airport
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.inboundAirport }}
                                            <!-- {{ element.apiError && 'name' in   ?   element.apiError?.message  : 'None'}} -->
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="default">
                                        <th mat-header-cell *matHeaderCellDef>
                                            Default
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.default }}
                                            <!-- {{ element.apiError && 'name' in   ?   element.apiError?.message  : 'None'}} -->
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="provider">
                                        <th mat-header-cell *matHeaderCellDef>
                                            Provider
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.provider }}
                                            <!-- {{ element.apiError && 'name' in   ?   element.apiError?.message  : 'None'}} -->
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="view">
                                        <th mat-header-cell *matHeaderCellDef>
                                            View
                                        </th>
                                        <td
                                            mat-cell
                                            *matCellDef="let element"
                                            style="cursor: pointer"
                                        >
                                            <div
                                                class="flex flex-row justify-between w-full"
                                            >
                                                <mat-icon
                                                    (click)="edit(element)"
                                                    svgIcon="heroicons_outline:pencil-square"
                                                ></mat-icon>
                                                <mat-icon
                                                    (click)="delete(element)"
                                                    svgIcon="heroicons_outline:trash"
                                                ></mat-icon>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr
                                        mat-header-row
                                        *matHeaderRowDef="displayedColumns"
                                    ></tr>
                                    <tr
                                        mat-row
                                        *matRowDef="
                                            let row;
                                            columns: displayedColumns
                                        "
                                    ></tr>
                                </table>
                            </div>
                        </ng-container>
                        <!-- Deals -->
                        <ng-container *ngSwitchCase="'kiwiFlightCommission'">
                            <app-kiwi-flight-commission />
                        </ng-container>
                        <ng-container *ngSwitchCase="'dealCommission'">
                            <app-dealcomission />
                        </ng-container>
                        <ng-container *ngSwitchCase="'fare-family-commission'">
                            <app-fare-family-commission />
                        </ng-container>
                        <ng-container *ngSwitchCase="'fareFamily'">
                            <app-fare-family-details />
                        </ng-container>
                        <ng-container>
                            <app-deal-mining-status *ngSwitchCase="'miningStatus'"></app-deal-mining-status>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
